In [4]:
import yfinance as yf
data = yf.download('2330.TW')
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,2330.TW,2330.TW,2330.TW,2330.TW,2330.TW,2330.TW
Date,,,,,,
2000-01-04 00:00:00+00:00,34.216953,69.649033,69.649033,68.475182,69.649033,200662336736
2000-01-05 00:00:00+00:00,34.985813,71.214043,71.214043,68.866341,69.649033,402466805912
2000-01-06 00:00:00+00:00,34.216953,69.649033,71.214043,69.649033,70.822884,197545715802
2000-01-07 00:00:00+00:00,33.255745,67.692490,68.475182,66.518639,67.301331,235270344752
2000-01-10 00:00:00+00:00,34.409126,70.040192,70.431351,68.475182,69.649033,276171685539
...,...,...,...,...,...,...
2024-10-21 00:00:00+00:00,1085.000000,1085.000000,1095.000000,1080.000000,1090.000000,36491060
2024-10-22 00:00:00+00:00,1075.000000,1075.000000,1075.000000,1060.000000,1065.000000,41197877
2024-10-23 00:00:00+00:00,1060.000000,1060.000000,1070.000000,1055.000000,1060.000000,31423466
2024-10-24 00:00:00+00:00,1060.000000,1060.000000,1075.000000,1055.000000,1070.000000,38236996
2024-10-25 00:00:00+00:00,1065.000000,1065.000000,1070.000000,1060.000000,1065.000000,22009575